<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}

        {% endblock %}
    </title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/main.js' %}" defer></script>
</head>

<body>
    <header>
        <nav class="navbar">
        {% if user.is_authenticated %}
            <div class="container">
                <a href="/" class="logo">My Site</a>
                <ul class="nav-links">
                    <li><a href="/">Home</a></li>
                    <li><a href="/blogs">Blogs</a></li>
                    <li><a href="{% url 'add_blog' %}">Add Blog</a></li>
                </ul>
        {% else %}
            <ul class="nav-links">
                <li><a href="{% url 'login_page'%}">Login</a></li>
                <li><a href="{% url 'register_page'%}">Register</a></li>
            </ul>
        {% endif %}    
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer>
        <p>&copy; 2024 My Site</p>
    </footer>
</body>
</html>